
streamlit==1.46.1

langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface==0.0.3

transformers==4.53.3
torch==2.7.1
torchvision==0.22.1

sentence-transformers==3.0.1

faiss-cpu==1.11.0

pypdf==5.7.0

huggingface-hub==0.33.4

numpy==1.26.4
pandas==2.2.2

acccelerate==0.34.2
safetensors==0.4.5
tqdm==4.66.5

reportlab==4.0.9
